{% extends 'fourth_task/menu.html' %}

{% block title %}Корзина{% endblock %}
{% block pagename %}Корзина{% endblock %}

{% block content %}
    <ul>
        {% for name, details in cart_items.items %}
            <li>{{ name }} - Цена: {{ details.price }}р, Количество: {{ details.quantity }}</li>
        {% endfor %}
    </ul>
    <p>Общая сумма: {{ total }}р</p>
    {% if discount_percent > 0 %}
        <p>Скидка: {{ discount_percent }}%</p>
        <p>Итоговая сумма: {{ final_total }}р</p>
    {% endif %}
    <a href="/platform/"><button>Вернуться обратно</button></a>
{% endblock %}
